
bin/Debug/net6.0/WordCloud.dll

bin/Debug/net6.0/WordCloud.pdb

obj/Debug/net6.0/WordCloud.dll

obj/Debug/net6.0/WordCloud.pdb

obj/Debug/net6.0/ref/WordCloud.dll

obj/Debug/net6.0/refint/WordCloud.dll
